<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>square</title>
    <style>
        body{
            margin: 0px;             
        }
        .title{
            background-color: rgb(2, 27, 84); height: 50px;         
            display: flex; align-items: center; justify-content: center;                      
        }
        .titleText{
            color: white; font-size: 20px;         
        }
        .context{
            text-align: center; margin: 20px; font-size: 20px;
        }
       
    </style>
</head>
<body>
    <div class="title">
        <div class="titleText">正整數平方計算結果</div>
    </div>
    <div class="context">
        <div>{{ ans }}</div>
    </div>

</body>
</html>