<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <style>
        body{
            margin: 0px;             
        }
        .title{
            background-color: rgb(2, 27, 84); height: 50px;         
            display: flex; align-items: center; justify-content: center;                      
        }
        .titleText{
            color: white; font-size: 20px;         
        }
        .context{
            text-align: center; margin: 10px;
        }
    </style>
</head>
<body>
    <div class="title">
        <div class="titleText">失敗頁面</div>
    </div>
    <div class="context">
    <div>{{ message }}</div>
    <a href = "/returnhome">返回首頁</a>
    </div>
</body>
</html>